* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	background-color: #f9f9f9;
	color: #333;
	margin: 0;
 	padding: 0;
  }
  
  header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #4caf50;
	color: #fff;
	padding: 10px 20px;
	position: sticky;
	top: 0;
	z-index: 1000;
	
  }
  
  header h1 {
	font-size: 24px;
  }
  
  .nav-links {
	display: flex;
	gap: 15px;
  }
  
  .nav-links a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
  }
  
  .search-bar {
	margin: 20px 0;
	display: flex;
	justify-content: center;
	padding: 0 20px;
  }
  
  .search-bar input {
	width: 100%;
	max-width: 600px;
	padding: 10px;
	font-size: 16px;
	border: 2px solid #ccc;
	border-radius: 5px;
  }
  
  .movie-list {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 0 20px;
  }
  
  .movie-item {
	display: flex;
	gap: 20px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 15px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .movie-item img {
	width: 100px;
	height: 150px;
	object-fit: cover;
	border-radius: 5px;
  }
  
  .movie-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
  }
  
  .movie-details h3 {
	font-size: 20px;
	margin-bottom: 10px;
  }
  
  .movie-details p {
	font-size: 16px;
	color: #666;
  }
  