<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>見たい映画</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <header>
		<h1><a href="{{ url_for('index') }}" class="top">MovieNest</a></h1>
		<nav class="nav-links">
		    <a href="{{ url_for('favorite_index') }}">お気に入り</a>
		    <a href="{{ url_for('already_index') }}">視聴済み</a>
		    <a href="{{ url_for('want_to_watch_index') }}">見たい</a>
		</nav>
	</header>
    <h3>見たい映画</h3>
    <div class="row">
        {% for movie in movies %}
            <a href="/movie/{{ movie['movie_id'] }}">
                <div class="movie-list">
                    <div class="movie-item">
                        <img src="http://image.tmdb.org/t/p/w154{{ movie['poster_path'] }}" alt="画像です" class="card-img-top">
                        <div class="card-body">
                            <h5 class="title">{{ movie['title'] }}</h5>
                            <h5 class="release_date">{{ movie['release_date'] }}</h5>
                        </div>
                    </div>
                </div>
            </a>
        {% else %}
            <p>該当するものはありません。</p>
        {% endfor %}
    </div>
</body>
</html>

